<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Day Tracker</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" type="text/css" href="assets/omega/theme.css" />
  <link rel="stylesheet" type="text/css" href="assets/primeng.min.css" />
  <link rel="stylesheet" type="text/css" href="assets/font-awesome/css/font-awesome.min.css" />
<link href="styles.b142ec3d1f9699fb9808.bundle.css" rel="stylesheet"/></head>
<body>
  <app-root></app-root>
<script type="text/javascript" src="inline.5b33c02ca38e2913e252.bundle.js"></script><script type="text/javascript" src="vendor.fa9ddc69a45cdd221be1.bundle.js"></script><script type="text/javascript" src="main.1d868bbd27e7af7f53c3.bundle.js"></script></body>
</html>
